.Button {
  padding: 10px;
  margin: 10px;
  font-family: inherit;
  outline: none;
  min-width: 100px;
  border: none;
  color: white;
  font-weight: lighter;
  font-size: 16px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.Button:last-of-type { margin: 0; }

.Success { background-color: #28a745; }

.Danger { background-color: #dc3545; }

.Brown { 
  background-color: #d35400;
  color: white;
  font-weight: bold;
}

.Button:disabled { background-color: #ecf0f1; }