ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
  padding: 10px;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  box-sizing: border-box;
  height: 100%;
}

@media (min-width: 500px){
  ul {
    flex-direction: row;
  }
}